{% extends 'base.html' %}

{% block title %}
    Recuperación de Cuenta
{% endblock %}

{% block content %}
    <div class="container pt-5">
        <div class="d-flex flex-column text-center mb-4 pt-2">
            <h1 class="display-4 m-0"><span class="text-primary">Recuperación de Cuenta</span></h1>
        </div>

        <form method="post" action="{{ url_for('recovery.recovery') }}" class="mb-4">
            <div class="form-group">
                <label for="email">Correo Electrónico o Usuario:</label>
                <input type="text" id="email" name="email" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Enviar solicitud de recuperación</button>
        </form>
    </div>
{% endblock %}