<!-- reset_password.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecimiento de Contraseña</title>
</head>
<body>
    <h1>Restablecimiento de Contraseña</h1>
    <form method="post" action="{{ url_for('recovery.reset_password', id=id_usuario) }}">
        <label for="id_usuario">Usuario:</label>
        <input type="text" id="id_usuario" name="id_usuario" required>
        
        <label for="new_password">Nueva Contraseña:</label>
        <input
          type="password"
          id="new_password"
          name="new_password"
          required
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,}$"
          oninvalid="this.setCustomValidity('Ingrese una contraseña de mínimo 8 caracteres, una mayúscula, un número y un símbolo especial')"
          oninput="this.setCustomValidity('')"
        >
        
        <label for="confirm_password">Confirmar Contraseña:</label>
        <input
          type="password"
          id="confirm_password"
          name="confirm_password"
          required
          onblur="checkPasswords()"
        >
        
        <button type="submit">Restablecer Contraseña</button>
        <!--<a href="{{ url_for('recovery.reset_password', id=id_usuario) }}" class="btn btn-sm btn-info" style="margin-left: 5px">Restablecer Contraseña</a>-->
    </form>

    <script>
        function checkPasswords() {
            var newPassword = document.getElementById('new_password').value;
            var confirmPassword = document.getElementById('confirm_password').value;

            if (newPassword !== confirmPassword) {
                alert('Las contraseñas no coinciden');
            }
        }
    </script>
</body>
</html>
