{% extends 'base.html' %}

{% block title %}
    Recuperación de Cuenta
{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación de Cuenta</title>
    <link rel="stylesheet" href="styles.css"> <!-- Agrega tu archivo de estilos aquí si es necesario -->
</head>
<body>
    <div class="container pt-5">
        <div class="d-flex flex-column text-center mb-4 pt-2">
            <h1 class="display-4 m-0"><span class="text-primary">Recuperación de Cuenta</span></h1>
        </div>

        <form method="post" action="{{ url_for('recovery.reset_password', id=id_usuario) }}" class="mb-4">
            <div class="form-group">
                <label for="id_usuario">Usuario:</label>
                <input type="text" id="id_usuario" name="id_usuario" class="form-control" required>
            </div>
            
            <div class="form-group">
                <label for="new_password">Nueva Contraseña:</label>
                <input
                    type="password"
                    id="new_password"
                    name="new_password"
                    class="form-control"
                    required
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,}$"
                    oninvalid="this.setCustomValidity('Ingrese una contraseña de mínimo 8 caracteres, una mayúscula, un número y un símbolo especial')"
                    oninput="this.setCustomValidity('')"
                >
            </div>
            
            <div class="form-group">
                <label for="confirm_password">Confirmar Contraseña:</label>
                <input
                    type="password"
                    id="confirm_password"
                    name="confirm_password"
                    class="form-control"
                    required
                    onblur="checkPasswords()"
                >
            </div>
            
            <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
        </form>

        <script>
            function checkPasswords() {
                var newPassword = document.getElementById('new_password').value;
                var confirmPassword = document.getElementById('confirm_password').value;

                if (newPassword !== confirmPassword) {
                    alert('Las contraseñas no coinciden');
                }
            }
        </script>
    </div>
</body>
{% endblock %}