{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
<div class="container__cover  div__offset">
  <div class="container">
    <div class="form-container">
      <form method="post">
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        <p class="form-title">Inicio de sesion</p>
        <input
          name="username"
          id="username"
          placeholder="Nombre de Usuario"
          required
          maxlength=20
          oninvalid="this.setCustomValidity('Ingrese un nombre de usuario')"
          oninput="this.setCustomValidity('')"
        />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Contrasena"
          required
          oninvalid="this.setCustomValidity('Ingrese una contrasena')"
          oninput="this.setCustomValidity('')"
        />
        <button type="submit" class="submit-button">Iniciar Sesion</button>
      </form>
      <button type="button" class="login-button" onclick="window.location.href = '{{ url_for('auth.register') }}' ; "/>
        No tengo cuenta.
      </button>
    </div>
  </div>
</div>
{% endblock %}
