{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
<div class="container__cover  div__offset">
  <div class="container">
    <div class="form-container">
      <form method="post">
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        <p class="form-title">Registro de usuario</p>
        <input
          name="username"
          id="username"
          placeholder="Nombre de Usuario"
          required
          pattern="[A-Za-z0-9\-_\.]{3,}"
          maxlength=20
          oninvalid="this.setCustomValidity('Ingrese un nombre de usuario entre 3 y 20 caracteres. Puede tener los simbolos \x22_\x22, \x22.\x22 o \x22-\x22.')"
          oninput="this.setCustomValidity('')"
        />
        <input
          name="personName"
          id="personName"
          placeholder="Nombre completo"
          required
          maxlength=255
          oninvalid="this.setCustomValidity('Ingrese su nombre completo')"
          oninput="this.setCustomValidity('')"
        />
        <label for="gender">Genero:</label>
        <select name="gender" id="gender">
          <option value="hombre">Hombre</option>
          <option value="mujer">Mujer</option>
        </select>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Correo electronico"
          required
          maxlength=255
          oninvalid="this.setCustomValidity('Ingrese un correo electronico valido')"
          oninput="this.setCustomValidity('')"
        />
        <input
          name="phoneNumber"
          id="phoneNumber"
          placeholder="Numero de telefono"
          maxlength=10
          minlength=10
          required
          pattern="[0-9]+"
          oninvalid="this.setCustomValidity('Ingrese un numero de telefono valido')"
          oninput="this.setCustomValidity('')"
        />
        <label for="birthDate">Fecha de nacimiento:</label>
        <input
          type="date"
          name="birthDate"
          id="birthDate"
          min="1910-01-01"
          max="2005-01-01"
          required
          oninvalid="this.setCustomValidity('Ingrese una fecha')"
          oninput="this.setCustomValidity('')"
        />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Contrasena"
          required
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,}$"
          oninvalid="this.setCustomValidity('Ingrese una contrasena de minimo 8 caracteres, una mayuscula, un numero y un simbolo especial')"
          oninput="this.setCustomValidity('')"
        />
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          placeholder="Confirmar contrasena"
          required
          onblur="checkPasswords()"
        />
        <button type="submit" class="submit-button">Registrarme</button>
      </form>           
      <button type="button" class="login-button" onclick="window.location.href = '{{ url_for('auth.login') }}' ; "/>
        Ya tengo cuenta.
      </button>
    </div>
  </div>
</div>
<script type="text/javascript">
  function checkPasswords() {
    passInput = document.getElementById("password")
    confPassInput = document.getElementById("confirmPassword")
    confPassInput.setCustomValidity("")

    if (passInput.value != confPassInput.value) {
      confPassInput.setCustomValidity("Las contrasenas no coinciden")
    }
  }
</script>
{% endblock %}
