{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container__cover  div__offset">
  <div class="cover">
    <section class="text__cover">
      <form method="post">
        
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Register">


        
      </form>           
    </section>     
  </div>
</div>
{% endblock %}