{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}

<!-- Adopcion Inicia -->
<div class="container pt-5">
    <div class="d-flex flex-column text-center mb-5 pt-5">
        <h4 class="text-secondary mb-3">Adopta un mejor amigo</h4>
        <h1 class="display-4 m-0"><span class="text-primary">Adopciones</span></h1>
    </div>
    <div class="row pb-3">
        {% for pet in pets %}
            <div class="col-lg-4 mb-4">
                <div class="card border-0 mb-2">
                    <!--IMAGEN SACADA DE LA BD DE ADOPCIONES-->
                    <img class="card-img-top" src='data:image/jpeg;base64, {{ pet[7] }}' alt="">
                    <div class="card-body bg-light p-4">
                        <h4 class="card-title text-truncate">{{ pet[1] }}</h4>
                        <div class="d-flex mb-3">
                            <small class="mr-2"><i class="fa fa-user text-muted"></i> {{ pet[4] }}</small>
                            <!--<small class="mr-2"><i class="fa fa-folder text-muted"></i> Web Design</small>
                            <small class="mr-2"><i class="fa fa-comments text-muted"></i> 15</small>-->
                        </div>
                        <!--<p>Descripcion de contacto</p>-->
                        <p>Dueno: {{ pet[8] }}</p>
                        <a class="font-weight-bold" href="{{ url_for('chat.chat', id_other_user=pet[8]) }}">Contactar al dueno.</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<!-- Adopcion Termina -->

{% endblock %}
