{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="container">
  <form action="{{ url_for('auth.reportar_problema', id=other_user_id) }}" method="post">
    <button type="submit" class="btn btn-danger">Reportar</button>
  </form>
  <h1 class="text-center">Chat en línea con {{ other_user_id }}</h1><div class="report-problem-button">
</div>

  <div id="chat-history" class="chat-history">
      <script>let previous_sender = null</script>
      {% set ns = namespace(previous_sender = None) %}
      {% for message in chat_history %}
          {% if ns.previous_sender == message[0] %}
              {% if message[0] == g.user_id %}
                  <div class="message message-user-is-sender">
                      <span class="message-text">{{ message[2] }}</span>
                  </div>
              {% else %}
                  <div class="message message-user-is-addresse">
                      <span class="message-text">{{ message[2] }}</span>
                  </div>
              {% endif %}
          {% else %}
              {% if message[0] == g.user_id %}
                  <div class="message message-user-is-sender">
                      <span class="message-sender">{{ message[0] }}:</span>
                      <span class="message-text">{{ message[2] }}</span>
                  </div>
              {% else %}
                  <div class="message message-user-is-addresse">
                      <span class="message-sender">{{ message[0] }}:</span>
                      <span class="message-text">{{ message[2] }}</span>
                  </div>
              {% endif %}
          {% endif %}
          {% set ns.previous_sender = message[0] %}
          <script>previous_sender = '{{message[0]}}'</script>
      {% endfor %}
      
  </div>

  <div class="input-group mb-3">
      <textarea id="message" class="form-control input-message" placeholder="Escriba su mensaje aquí..." maxlength="255"></textarea>
      <div class="input-group-append">
          <button id="send-message-button" class="btn btn-primary" onclick="sendMessage()">Enviar</button>
      </div>
  </div>
</div>

  <style>
    .chat-history {
      overflow: scroll;
      height: 580px;
    }
    .message {
        background-color: rgb(253, 180, 97);
        padding: 8px;
        margin-bottom: 5px;
        border-radius: 5px;
        font-size: 20px;
        color: black;
    }

    .input-message {
        font-size: 20px;
        color: black;
    }

    .message-user-is-sender {
        background-color: #d3ffd3;
        margin-left: 40%;
    }

    .message-user-is-addresse {
        margin-right: 40%;
    }

    .message-text {
        display: inline-block;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .report-problem-button {
        text-align: center;
        margin-top: 10px;
    }
  </style>

    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js"></script>
    <script>
      const room = '{{ chat_room_id }}'
      const socket = io('http://127.0.0.1:5000/socket');
      const chatHistory = document.getElementById('chat-history')
      document.getElementById('message').value = ''

      socket.on('connect', () => {
        console.log('Connected to server');
        socket.emit('joinChatRoom', { creator: '{{ g.user_id }}', guest: '{{ other_user_id }}', room: room })
      });

      socket.on('disconnect', () => {
        console.log('Disconnected from server');
      });

      socket.on('chat', (data) => {
        console.log('Received response:', data);
      });

      socket.on('chat', (data) => {
        const div = document.createElement('div')
        const messageSpan = document.createElement('SPAN');
        messageSpan.setAttribute("class", "message-text")
        if ( previous_sender == data.sender) {
          if ( data.sender == '{{ g.user_id }}') {
            div.setAttribute("class", "message message-user-is-sender")
          }
          else {
            div.setAttribute("class", "message message-user-is-addresse")
          }
          messageSpan.appendChild(document.createTextNode(data.message))
          div.appendChild(messageSpan)
        }
        else {
          if (data.sender == '{{ g.user_id }}') {
            div.setAttribute("class", "message message-user-is-sender")
          }
          else {
            div.setAttribute("class", "message message-user-is-addresse")
          }
          messageSpan.appendChild(document.createTextNode(data.sender + ': ' + data.message))
          div.appendChild(messageSpan)
        }
        chatHistory.appendChild(div)
      });

      function sendMessage() {
        let messageValue = document.getElementById('message').value
        data = { sender: '{{ g.user_id }}', addresse: '{{ other_user_id }}', message: messageValue, room: room }
        socket.emit('chat', data);
        document.getElementById('message').value = ''
      }
    </script>
</body>
{% endblock %}