{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
<!-- Contacto INICIO -->
    <div class="container-fluid bg-light pt-5 pb-4">
        <div class="container py-11">
            <div class="d-flex flex-column text-center mb-5">
            <h1 class="display-4 m-0">Conta<span class="text-primary">ctanos</span></h1>
            </div>
            <div class="row d-flex flex-row justify-content-center">

                <div class="col-lg-6 mb-4">
                    <div class="card border-0 h-100">
                        <div class="card-header position-relative border-0 p-0 mb-4">
                            <img class="card-img-top img-fluid" src="{{ url_for('static', filename='img/Alondra.jpg')}}" alt="Alondra">
                        </div>
                        <div class="card-footer border-0 p-0 text-center">
                            <a class="btn btn-secondary btn-block p-3" style="border-radius: 0;">Cervantes Flores Alondra Michelle. INCO</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-4">
                    <div class="card border-0 h-100">
                        <div class="card-header position-relative border-0 p-0 mb-4">
                            <img class="card-img-top img-fluid" src="{{ url_for('static', filename='img/Ana2.jpg')}}" alt="Ana">
                        </div>
                        <div class="card-footer border-0 p-0 text-center">
                            <a class="btn btn-secondary btn-block p-3" style="border-radius: 0;">López Méndez Ana Gabriela. INNI</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-4">
                    <div class="card border-0 h-100">
                        <div class="card-header position-relative border-0 p-0 mb-4">
                            <img class="card-img-top img-fluid" src="{{ url_for('static', filename='img/Wada.jpg')}}" alt="Wada">
                        </div>
                        <div class="card-footer border-0 p-0 text-center">
                            <a class="btn btn-primary btn-block p-3" style="border-radius: 0;">Gutierrez Navarro José Guadalupe. INNI</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-4">
                    <div class="card border-0 h-100">
                        <div class="card-header position-relative border-0 p-0 mb-4">
                            <img class="card-img-top img-fluid" src="{{ url_for('static', filename='img/Geronimo.jpg')}}" alt="Geronimo">
                        </div>
                        <div class="card-footer border-0 p-0 text-center">
                            <a class="btn btn-secondary btn-block p-3" style="border-radius: 0;">Murillo Alvarado Oscar Geronimo. INNI</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Contacto FIN -->
{% endblock %}