{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}

<body>
    <!-- Comienza Perfil -->
    <div class="container py-5">
        <div class="row pt-5">
            <div class="col-lg-8"> 
                <div class="d-flex flex-column text-left mb-4">
                    <h4 class="text-secondary mb-3">Mi perfil</h4>
                    <div class="d-index-flex mb-2">
                        <span class="mr-3"><i class="fa fa-user text-muted"></i> Dueño</span>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card border-0">
                        <div class="card-header position-relative border-0 p-0 mb-4">
                            <!--AQUÍ va la foto de usuario de la persona-->
                            <img class="card-img-top" src='data:image/jpeg;base64' alt="">
                            <!---->
                            <!--<img class="img-fluid w-100 mb-4" src="img/carousel-1.jpg" alt="Image">-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sección de Mascotas -->
            <div class="col-lg-8">
                <div class="mb-5">
                    <h3 class="mb-4">Mascotas de <span>{{ g.user[0] }}</span></h3>
                    {% for pet in pets %}
                    <div class="d-flex align-items-center border-bottom mb-3 pb-3">
                        <img class="img-fluid" src="data:image/jpg;base64,{{ pet[2] }}" style="width: 80px; height: 80px;" alt="">
                        <div class="d-flex flex-column pl-3">
                            <a class="text-dark mb-2">{{ pet[1] }}</a>
                            <div class="d-flex">
                                <small class="mr-3"><i class="fa fa-user text-muted"></i> Raza: {{ pet[3] }}</small>
                                <small class="mr-3"><i class="fa fa-id-card text-muted"></i> ID: {{ pet[0] }}</small>
                            </div>
                            <!-- Agrega un enlace para actualizar la información de la mascota -->
                            <div class="d-flex">
                              <a href="{{ url_for('pets.match.petSelected', petId=pet[0], petName=pet[1]) }}" class="btn btn-sm btn-info-profile-match">Buscar Match</a>
                              <a href="{{ url_for('pets.update_pets.update_pets', id=pet[0]) }}" class="btn btn-sm btn-info" style="margin-left: 5px">Actualizar</a>
                            </div>
                        </div>                
                    </div>
                    {% endfor %}
                </div>        
            </div>
            <div class="col-lg-4 mt-5 mt-lg-0">
                <div class="mb-5">
                    <img src="img/blog-1.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <!-- Termina Perfil -->
</body>

{% endblock %}
