{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}

<!-- Servicios INICIO -->
<div class="container-fluid bg-light pt-5">
    <div class="container py-6">
        <div class="d-flex flex-column text-center mb-5">
            <h4 class="text-secondary mb-3">Nuestros Servicios</h4>
            <h1 class="display-4 m-0"><span class="text-primary">Conectando  </span> corazones caninos </h1>
        </div>
        <div class="row pb-3">
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                    <h3 class="flaticon-house display-3 font-weight-normal text-secondary mb-3"></h3>
                    <h3 class="mb-3">Control de acceso de usuario</h3>
                    <p>Tu privacidad y seguridad son nuestra principal preocupación. En nuestro proceso de registro de usuarios, 
                    empleamos las últimas medidas de seguridad y encriptación para proteger tus datos personales. 
                    Puedes registrarte con total tranquilidad, sabiendo que tu información está resguardada y nunca será compartida sin tu consentimiento.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                    <h3 class="flaticon-food display-3 font-weight-normal text-secondary mb-3"></h3>
                    <h3 class="mb-3">Actualizacion continua de datos las mascota</h3>
                    <p>Nuestro sistema está diseñado para hacer que la actualización de los detalles de tu peludo amigo sea fácil y rápida. 
                    Además, tus datos personales y la información de tu mascota están en buenas manos: 
                    empleamos rigurosas medidas de seguridad para proteger toda la información.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                    <h3 class="flaticon-grooming display-3 font-weight-normal text-secondary mb-3"></h3>
                    <h3 class="mb-3">Bloqueo de cuentas maliciosas</h3>
                    <p>Tu seguridad en línea es nuestra principal prioridad. En nuestra plataforma, invertimos en tecnología 
                    avanzada para detectar y bloquear cuentas maliciosas de manera proactiva. Nuestro equipo de expertos en seguridad trabaja 
                    incansablemente para mantener un entorno seguro y protegido para todos nuestros usuarios.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                    <h3 class="flaticon-cat display-3 font-weight-normal text-secondary mb-3"></h3>
                    <h3 class="mb-3">MATCH</h3>
                    <p>Las mascotas entraran a un algoritmo para encontrar pareja compatible segun varios criterios, como lo son el peso, la raza y el tamaño.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                    <h3 class="flaticon-dog display-3 font-weight-normal text-secondary mb-3"></h3>
                    <h3 class="mb-3">ADOPCION DE MASCOTAS</h3>
                    <p>Puedes poner en adopcion una mascota y adoptar en vez de buscar un match. Solo tienes que ponerte en contacto por medio del chat con la persona.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="d-flex flex-column text-center bg-white mb-2 p-3 p-sm-5">
                    <h3 class="flaticon-vaccine display-3 font-weight-normal text-secondary mb-3"></h3>
                    <h3 class="mb-3">VALORACION DE MASCOTAS</h3>
                    <p>Segun la experiencia de los usuarios con las mascotas de otros usuarios, estos podran otorgarte una valoracion para indicar la experiencia que tuvo.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Servicios End -->


{% endblock %}