{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="container pt-5">
    <div class="d-flex flex-column text-center mb-2 pt-2">
      <h1 class="display-4 m-0"><span class="text-primary">SOPORTE</span></h1>
      <h4 class="text-secondary mb-3">Si necesita soporte la página favor de contactarse al correoxd</h4>
      <h1 class="text-secondary mb-3">Maestra ponganos 100 plis:c</h1>
    </div>
  </div>
{% endblock %}
